
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8f9fa;
}

#footerCreateAccount{
    margin-top: 80px;
    padding-top: 50px;
}

form{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}
.logo {
    max-width: 100%;
    height: auto;
    margin-bottom: 0px;
    margin-top: 80px;
   
}
#cidade{
    margin-bottom: 70px;
}